<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        h1 {
            text-align: center;
            margin-top: 1em;
            color: rgb(56, 3, 3);
            font-family: 'Times New Roman', Times, serif;
        }
        
        input {
            margin-top: 5em;
        }
        
        p {
            text-align: center;
            font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        img {
            background-repeat: no-repeat;
        }
    </style>

</head>

<body background="/images/AN 2.jpg">
    <div>
        <h1 class="display-1">Tourism Management System
        </h1>
    </div>
    <p>
        <%= title %> to our page</p>


    <div class="d-flex justify-content-center">
        <a href="/home"> <input type="button" class="btn btn-primary" value="Get Started"></input>
        </a>
    </div>
</body>

</html>